@import url('https://fonts.googleapis.com/css?family=Roboto');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Light:wght@300&display=swap'); */

@font-face {
  src: url('/src/media/fonts/Roboto-Thin.ttf');
  font-family: 'roboto-light';
}

:root {
  --primary-color: #E8EDF1;
}

* {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--primary-color);
}

#page-title {
  font-family: "roboto-light";
}

#search {
  height: 64px;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 
  0px 4px 5px 0px rgba(0,0,0,0.14), 
  0px 1px 10px 0px rgba(0,0,0,0.12);
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 
  0px 4px 5px 0px rgba(0,0,0,0.14), 
  0px 1px 10px 0px rgba(0,0,0,0.12);
  -moz-box-shadow-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 
  0px 4px 5px 0px rgba(0,0,0,0.14), 
  0px 1px 10px 0px rgba(0,0,0,0.12);
  outline: none;
  padding-left: 3.5rem;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-family: 'roboto-light';
}

.cards {
}

#hr {
  padding: 0;
}

.card {
  width: 350px;
  height: 300px;
  background-color: #fff;
  margin-bottom: 3.5rem;
  -webkit-border-radius: 40px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius: 40px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-radius: 40px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 
  0px 4px 5px 0px rgba(0,0,0,0.14), 
  0px 1px 10px 0px rgba(0,0,0,0.12);
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 
  0px 4px 5px 0px rgba(0,0,0,0.14), 
  0px 1px 10px 0px rgba(0,0,0,0.12);
  -moz-box-shadow-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 
  0px 4px 5px 0px rgba(0,0,0,0.14), 
  0px 1px 10px 0px rgba(0,0,0,0.12);

  padding: 1.5rem 2rem;
}

.card h1 {
  font-size: 1.5rem;
  /* padding-bottom: 1rem; */
  /* height: 56px; */
}

.place-content-container {
  padding-top: 1.5rem;
  line-height: 2rem;
}

.place-content-container a {
  color: #0073BD;
  text-decoration: none;
}